  <%= f.error_messages %>

  <p>
    <%= f.label :page_id %><br />
    <%= f.select(:page_id, Page.all.collect {|p| [ p.title, p.id ] })  %>
  </p>
  <p>
    <%= f.label :section_id %><br />
    <%= f.select(:section_id, Section.all.collect {|s| [ s.title, s.id ] }) %>
  </p>
  <p>
    <%= f.hidden_field :asset_type, :value => params[:asset_type] %>
  </p>
  <p>
    <%= f.label :asset_id %>:
    <%= @asset_class.name.humanize %><br />
    <%= f.select(:asset_id, @asset_class.find(:all).collect {|a| [a.title, a.id]}) if @asset_class %>
    
  </p>
  
  
  <!--   <p><%= f.label :position %><br />
      <%= f.text_field :position %></p> -->