<p>
  <b>Title:</b>
  <%=h @section.title %>
</p>

<p>
  <b>Page:</b>
  <%=h @section.page_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @section.position %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
