  <div id="advanced_page_details" class="optional tab_content">  
    <h3>Advanced Page Configuration</h3>
    <% form.inputs :name => "File Name & Visibility" do %>
      <%= form.input :permalink %>
      <p><%= form.input :visible %> (Visibility in Navigation)</p>
      <p><%= form.input :active %> (Disable Page Completely)</p>
      <p><%= form.input :lightwindow %> (Launch Page In Overlay)</p>
    <% end %>
    <% form.inputs :name => 'Search Engine Optimization' do  %>
      <%= form.input :file_name %>
      <%= form.input :meta_keywords, :style => 'height: 100px' %>
      <%= form.input :meta_description, :style => 'height: 100px' %>
    <% end %>

    <% form.inputs :name => "Redirect Configuration", :for => :page do |redirection| %>
      <p><%= form.input :redirect %></p>

      <p><%= form.input :redirect_url %></p>
      <%= form.input :redirect_page, :include_blank => true  %>
    <% end %>
    <% form.inputs :name => "Developer Customization (CSS etc)", :for => :page do |css_overrides|%>
      <%= form.input :css_class, :label => "Page CSS"  %>
      <%= form.input :nav_item_css_class, :label => "Nav CSS"  %>
      <%= form.input :nav_item_parameters, :label => "Nav Params" %>
    <% end %>
  </div>
