<div id="page_content" class="optional tab_content">  
    <h3>Page Sections & Content</h3>

    <% Section.all.each do |section| %>
      <h4><%= section.title %></h4>
      <ol>
        <% section_content = @page.content_mappings.select{|c| c.section == section } %>
        <% section_content.each do |content| %>
        <li><%= content.asset.title %> <%= link_to "Edit", edit_polymorphic_path(content.asset) %> | <%= link_to 'Remove', content, :confirm => 'Are you sure?', :method => :delete %></li></li>
        <% end %>  
        <li><%= link_to "<b>Add Content</b> To #{section.title} ", new_page_section_content_mapping_path(@page, section) %></li>
      </ol>
      <div id="new_section_content_<%= section.id %>" class="droppable">
        
      </div>
      <%= drop_receiving_element("new_section_content_#{section.id}", # The id of the receiving element
        :accept => "draggable",                                         # The CSS class of the dropped element
        :with   => "page_id=#{@page.id}&section_id=#{section.id}'&asset_type=' + (element.id.split('asset_').last())",     # The query string parameters
        :url    => '/'                         # The action to call
      )%>
    <% end %>
    
    <div id="available_assets">
      <h3>Available Assets</h3>
      <h4>Drag to Section</h4>
      <ul>
        <li class="draggable" id="asset_basic_image"><span>Basic Image</span></li>
        <li class="draggable" id="asset_text_block"><span>Text Block</span></li>
        <li class="draggable" id="asset_callout"><span>Callout</span></li>
        <li class="draggable" id="asset_code_snippet"><span>Code Snippets</span></li>
      </ul>
    </div>
    <%= draggable_element(:asset_basic_image, :revert=>true) %>
    <%= draggable_element(:asset_text_block, :revert=>true) %>
    <%= draggable_element(:asset_callout, :revert=>true) %>
    <%= draggable_element(:asset_code_snippet, :revert=>true) %>
    
  </div>