<div id="page_content" class="optional tab_content">  
    <h3>Page Sections & Content</h3>

    <% Section.all.each do |section| %>
    <div class="column span-6">
      <h4><%= section.title %> </h4>
      <ol id="section_<%=section.id%>_content" class="sortable_list" >
        <% section_content = @page.content_mappings.select{|c| c.section == section } %>
        <% section_content.each do |content| %>
        <% if content.asset %>
        <li id="<%= dom_id(content) %>"><%= content.asset.title %> <%= link_to "Edit", edit_polymorphic_path(content.asset) %> | <%= link_to_remote "Remove", :url => content, :complete => "$('content_mapping_#{content.id}').fade();", :method => :delete, :html => { :class  => "destructive" }, :confirm => "Are you sure?" %></li></li>
        <% else %>
          Missing: <%= content.id  %>
        <% end %>
        <% end %>  
      </ol>
      <p><%= link_to "<b>Add Content</b> To #{section.title} ", new_page_section_content_mapping_path(@page, section) unless @page.new_record? %></p>
      <%= sortable_element("section_#{section.id}_content".to_sym, :url => {:controller => "content_mappings", :action => "sort", :section_id => section.id, :page_id => @page.id }) %>

    </div>
    <% end %>
    
    <!-- <div id="available_assets">
      <h3>Available Assets</h3>
      <h4>Drag to Section</h4>
      <ul>
        <li class="draggable" id="asset_basic_image"><span>Basic Image</span></li>
        <li class="draggable" id="asset_text_block"><span>Text Block</span></li>
        <li class="draggable" id="asset_callout"><span>Callout</span></li>
        <li class="draggable" id="asset_code_snippet"><span>Code Snippets</span></li>
      </ul>
    </div>
    <%= draggable_element(:asset_basic_image, :revert=>true) %>
    <%= draggable_element(:asset_text_block, :revert=>true) %>
    <%= draggable_element(:asset_callout, :revert=>true) %>
    <%= draggable_element(:asset_code_snippet, :revert=>true) %>
     -->
  </div>
  <div class="clear">
    
  </div>