
<% semantic_form_for @page do |form| %>
<div id="<%= dom_id @page %>" class="page_options admin_block">
  <h3>Basic Options</h3>
  <div id="page_basic_options">
    <ul style="list-style:none">

    <li>
      <label>Parent Page</label>
      <%= collection_select :page, :parent_page_id, Page.root.full_set, :id, :title %></li>
    <%= form.input :title %>
    </ul>    
  </div>
  
  <h3 id="page_advanced_options_toggle" onclick="$('page_advanced_options').toggle();">Advanced Options</h3>
  <div id="page_advanced_options" class="optional" style="display: none;">
    <%= form.inputs :permalink, :visible, :active %>
    <%= form.inputs :css_class, :nav_item_css_class, :nav_item_parameters %>
    <%= form.inputs :redirect, :redirect_url %>
    <%= form.input :redirect_page, :include_blank => true  %>
    <%= form.inputs :file_name, :meta_keywords, :meta_description %>

    
  </div>
</div>  
  <%= form.buttons %>


<div id="<%= dom_id @page %>_content" class="admin_block ">
  <h3>Page Content</h3>
  
  <% @page.content_mappings.collect{|s| s.section }.uniq.each do |section| %>
    <h4><%= section.title %></h4>
    <ol>
      <% section_content = @page.content_mappings.select{|c| c.section == section } %>
    <% section_content.each do |content| %>
      <li>
        <%= content.asset.title %> <%= link_to "Edit", edit_polymorphic_path(content.asset) %>
        <div>
          <%# @asset = content.asset %>
          <%# form.inputs :for => @asset, :name => "Asset" %>
        </div>
      </li>
      
    <% end %>  
    </ol>
    <%= link_to "New Text Block", new_content_mapping_path(:page_id => @page.id, :section_id => section.id, :asset_type => 'TextBlock') %>
    <%= link_to "New Basic Image", new_content_mapping_path(:page_id => @page.id, :section_id => section.id, :asset_type => 'BasicImage') %>
  <% end %>
  
</div>
<% end %>


