<h1>Listing pages</h1>

<<<<<<< HEAD:app/views/pages/index.html.erb
<ul>
<% @pages.each do |page| %>
  <li>
  <%= link_to page.title, page %>
  <%= link_to 'Edit', edit_page_path(page) %>
  <%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>

<%# render :partial => "tree" %>
=======
<%= render :partial => "tree" %>
>>>>>>> 2e99d755c52187a36da1cd72acd559e5abfcb84f:app/views/pages/index.html.erb

<br />

<%= link_to 'New page', new_page_path %>
