<h1>New page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :lft %><br />
    <%= f.text_field :lft %>
  </p>
  <p>
    <%= f.label :rgt %><br />
    <%= f.text_field :rgt %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pages_path %>
