<%= site_nav %>

<h1><%= @page.title %></h1>

<% @page.sections.each do |section| %>
  <div id="<%= section.title.downcase %>" class="section">
    <% section.assets.each do |asset| %>
      <%= render :partial => asset %>
    <% end %>
    <p>Add Existing:
    <% section.available_assets.each do |asset| %>
    <%= link_to asset.class_name.underscore.humanize, new_content_mapping_url(:page_id => @page, :section_id => section.id, :asset_id => eval("#{asset.class_name}.new"), :asset_type => asset.class_name) %><br>
    <% end %></p>
  </div>
<% end %>
<div class="clear">
  
</div>
<div id="edit_controls">
  <%= link_to "New Text Asset", new_content_mapping_url(:page_id => @page, :section_id => 1, :asset_id => TextBlock.new, :asset_type => 'TextBlock') %>

  <%= link_to 'Edit Page', edit_page_path(@page) %> |
  <%= link_to 'List Pages', pages_path %>

  <div id="context_bar" class="collapsed">
    <div id="bar_title">
      Edit: Page
    </div>
    <%= render :partial => "pages/form", :object => @page if @page %>
  </div>  
</div>
