<h1>All <%= @asset_class.to_s.underscore.humanize.titlecase.pluralize %></h1>
<ul>
<% @assets.each do |asset| %>
  <li>
    <%= link_to asset.title, asset %> |
    <%= link_to "Edit", edit_polymorphic_path(asset) %> |
    <%= link_to "Delete", asset, :confirm => "Are you sure?", :method => 'delete' %>
    <!-- <% if asset.content_mappings %>
      <ul>
        <% asset.content_mappings.sort_by{|item| item.page_id }.each do |content| %>
        <li><%= link_to "#{content.page.title} - #{content.section.title}", edit_content_mapping_path(content) %></li>
        <% end %>
      </ul>
    <% end %> -->
  </li>
<% end %>
</ul>
<p><%= link_to "New #{@asset_class.to_s.underscore.humanize.titlecase}", :action => 'new' %></p>
<%= will_paginate @assets %>