<% semantic_form_for( @callout, :html => {:multipart => true} )do |form| %>
 <% form.inputs do %>
 <%= form.input :title %>
 <%= form.input :page_id, :include_blank => true %>
 <%= form.input :link, :label => 'External Link (Optional)' %>
 <p><%= form.input :lightwindow, :label => 'Lightwindow Link (Optional)' %></p>
 <p><%= form.input :image, :as => :file, :label => "Image <br><span>(Please resize image before uploading)</span>" %></p>
 <%= image_tag @callout.image.url unless @callout.image.url.include? 'missing' %>
 <%= form.input :text %>
 <div class="wmd-preview"></div>

   <script type="text/javascript">
 	// to set WMD's options programatically, define a "wmd_options" object with whatever settings
 	// you want to override.  Here are the defaults:
       wmd_options = {
 		// format sent to the server.  Use "Markdown" to return the markdown source.
 		output: "Markdown",

 		// line wrapping length for lists, blockquotes, etc.
 		lineLength: 40,

 		// toolbar buttons.  Undo and redo get appended automatically.
 		buttons: "bold italic link blockquote code image ol ul heading hr",

 		// option to automatically add WMD to the first textarea found.  See apiExample.html for usage.
 		autostart: true
 	};
 </script>
   <script type="text/javascript" src="/wmd/wmd.js"></script>
 <%= form.buttons %>
 <% end %>
<% end %>
