<p>
  <b>Title:</b>
  <%=h @callout.title %>
</p>

<p>
  <b>Text:</b>
  <%=h @callout.text %>
</p>

<p>
  <b>Image:</b>
  <%=h @callout.image %>
</p>


<%= link_to 'Edit', edit_callout_path(@callout) %> |
<%= link_to 'Back', callouts_path %>
