<h2>Admin Login</h2>
 
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :login %>
  <%= f.text_field :login %>
  </p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>  
<p>  
  <%= f.label :remember_me %>
  <%= f.check_box :remember_me %>
</p>  
  <%= f.submit "Login Now" %>
<% end %>
<br>
<p><%= link_to "Forgot Your Password?", forgotten_password_path %></p>