<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stockyard CMS</title>
  <%= stylesheet_link_tag 'blueprint', 'stockyard', 'forms', 'lightwindow' %>
  <%= javascript_include_tag :all, '/stockyard/javascripts/tree', '/stockyard/javascripts/tabs', '/stockyard/wmd/wmd' %>
</head>
<body>
  <div id="global_admin_bar"></div>
  
  
  <div id="site" class="">

    <div id="header">
      <ul class="hanging_tabs">
        <li>
          <%= link_to "Login", stockyard_login_path unless @current_user %>
          <%= link_to "Logout", stockyard_logout_path if @current_user %>
        </li>
      </ul>
      <ul id="global_nav">
        <li><%= link_to "Pages", pages_path %></li>
        <!-- <li><%= link_to "Sections", sections_path %></li> -->
        <li><%= link_to "Content", content_mappings_path %></li>
        <li><%= link_to "Users", users_path %></li>

      </ul>
      <div id="logo">
        <%= link_to(image_tag('/images/stockyard/logo.png'), '/admin') %>
      </div>
      <h1>Stockyard CMS</h1>
    </div>
    
    <div id="notices"><%= flash_messaging %></div>
    
    <div id="side" class="column span-4">
      <ul class="sidetabs">
        <li><%= link_to "Pages", pages_path %></li>
        <li><%= link_to "Content", content_mappings_path %></li>
        <li><%= link_to "Text Blocks", text_blocks_path %></li>
        <li><%= link_to "Basic Images", basic_images_path %></li>
        <li><%= link_to "Callouts", callouts_path %></li>
        <li><%= link_to "CodeSnippets", code_snippets_path %></li>
      </ul>
      <%= yield :side %>
    </div>
    <div id="main"  class="column span-18 prepend-1">
      <%= yield %>        
      <div class="clear">

      </div>
    </div>
    <div class="clear">

    </div>
    <div id="footer">
      <p>Stockyard CMS</p>
    </div>
    <div class="clear">

    </div>
  </div>
</body>
</html>
