<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stockyard CMS</title>
  <%= stylesheet_link_tag '/stockyard/stylesheets/blueprint', '/stockyard/stylesheets/stockyard', '/stockyard/stylesheets/forms', '/stockyard/stylesheets/lightwindow' %>
  <%= javascript_include_tag '/stockyard/javascripts/prototype', '/stockyard/javascripts/effects', '/stockyard/javascripts/tree', '/stockyard/javascripts/tabs', '/stockyard/wmd/wmd' %>
</head>
<body>
  <div id="global_admin_bar"></div>
  
  
  <div id="site" class="">

    <div id="header">
      <ul class="hanging_tabs">
        <li>
          <%= link_to "Login", stockyard_login_path unless @current_user %>
          <%= link_to "Logout", stockyard_logout_path if @current_user %>
        </li>
        <li><%= link_to "Documentation", :controller => 'help' %></li>
      </ul>

      <div id="logo">
        <%= link_to(image_tag('/stockyard/images/logo.png'), '/admin') %>
      </div>
      <h1>Stockyard CMS</h1>
    </div>
    
    <div id="notices"><%= flash_messaging %></div>
    
    <div id="side" class="column span-4">
      <%= yield :side %>
    </div>
    <div id="main"  class="column span-18 prepend-1">
      <%= yield %>        
      <div class="clear">

      </div>
    </div>
    <div class="clear">

    </div>
    <div id="footer">
      <p>Stockyard CMS</p>
    </div>
    <div class="clear">

    </div>
  </div>
</body>
</html>
